@font-face {
    font-family: 'Cooper';
    src: url('fonts/Cooper-Regular.woff2') format('woff2'),
        url('fonts/Cooper-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans-Bold.woff2') format('woff2'),
        url('fonts/FiraSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans-BoldItalic.woff2') format('woff2'),
        url('fonts/FiraSans-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans-Italic.woff2') format('woff2'),
        url('fonts/FiraSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans-Regular.woff2') format('woff2'),
        url('fonts/FiraSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
  }
}
body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    font-family: 'Fira Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    min-height: 100vh;
    display: flex;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
  font-family: 'Cooper', 'Fira Sans', 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.image-sidebar {
    background-image: url(images/wheat.jpg);
    background-size: cover;
    width: 800px;
    font-size: 2.5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-sidebar-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
    padding: 1rem 2rem;
    background-color: rgba(0, 0, 0, 60%);
}

.inline-logo {
    width: 6rem;
}
